
.btn:focus {
  
  outline: 0 !important;
  border-color: rgb(122, 122, 245);
  border-width: 2px;
  color: rgb(59, 59, 177);
}

.btn{
  color: rgb(9, 9, 20);
  font-weight: 500;
  font-size: small;
}

.float-end{
  font-weight: 500;
  color: rgb(53, 53, 148);
}
.back{
  background-color: white;
  margin-top: 100px;
}
.table{
  align-items: center;
 border-radius: 200px;
padding-left: 20px;
font-weight: 500;

}
.form-control:focus {
  border-color: none;
  box-shadow: none;
  border-color: rgb(147, 81, 209);
  border-width: 2px;
}
